<h1 mat-dialog-title>Board Values</h1>
<div mat-dialog-content>

    <form [formGroup]="form">
        <p>Please insert board rows?</p>
        <mat-form-field appearance="outline">
            <mat-label>row</mat-label>
            <input matInput type="number" formControlName="row">
            <mat-error *ngIf="isControlHasError('row','min')" class="mat-text-warn">Value must be between 1-20.
            </mat-error>
        </mat-form-field>

        <p>Please insert board column?</p>
        <mat-form-field appearance="outline">
            <mat-label>column</mat-label>
            <input matInput type="number" formControlName="column">
            <mat-error *ngIf="isControlHasError('column','min')" class="mat-text-warn">Value must be between 1-20.
            </mat-error>
        </mat-form-field>
    </form>

</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>